# Environment variables for the API server. These variables will be loaded by the server at runtime.
HOST=localhost
# Port number on which the server will listen for incoming requests
PORT=8000
# Log file path, where the server will write logs. Make sure the server has write permissions to this file.
LOG_FILE=server.log
# Application version, used for logging and debugging purposes
VERSION=0.0.0
# API Key for Resend, which will be used to send emails from the contact form
RESEND_API_KEY=your_resend_api_key_here
# Email address which will receive contact form submissions
CONTACT_EMAIL=contact@example.com
# Email address which will be used as the sender for resend emails
RESEND_FROM_EMAIL=onboarding@resend.dev
